

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.inner::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #01195CF2; 
  border-radius: 10px;
  
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.therating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.starlabel {
    padding: 0 !important;
    margin: 0 !important;
}

.hide {
  display: none;
}



.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.rating > label {
    padding: 0 !important;
    margin: 0 !important;
    cursor: pointer;
    color: #000;
    width: 1.1em;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    color: #FFD700;
}


.star_full {
    content: "\2606";
    color: #FFD700;
}

.comment {
  color:  #212121;
}





@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  /*========== Colors ==========*/
  --hue-color: 240;

  --first-color: hsl(var(--hue-color), 53%, 49%);
  --title-color: hsl(var(--hue-color), 53%, 15%);
  --text-color: hsl(var(--hue-color), 12%, 35%);
  --text-color-light: hsl(var(--hue-color), 12%, 65%);
  --white-color: #fff;
  --body-color: hsl(var(--hue-color), 24%, 94%);

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 3rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: 0.25rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-normal: 1;
  --z-tooltip: 10;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3.5rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.75rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 968px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}

.grid {
  display: grid;
}

/*=============== CLOCK ===============*/
.clock__container {
  height: 100vh;
  grid-template-rows: 1fr max-content;
}

/*=============== MEDIA QUERIES ===============*/
/* For large devices */
@media screen and (min-width: 968px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}




button {
  background-color: crimson;
  color: #fff;
  margin-top: 10px;
  padding: 10px 40px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.mt-33 {
  margin-top: 33px;
}

.burger {
  margin-left: 20px;
}

.burger img {
  width: 24.4px;
  height: 20px;
}

.app-logo {
  margin-left: 23px;
}

.app-logo img {
  width: 199px;
  height: 46px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 46px;
}

.login-input-container {
  width: 100%;
  background-color: white;
  margin-top: 59.17px;
  /* height: calc(100vh - 138.17px); */
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.login-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-text-container img {
  width: 352.09px;
  height: 201.96px;
}

.login-text-container span {
  margin-top: 24px;
  font-size: 32px;
  font-weight: 700;
  color: black;
}

.input-container {
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.input-email, .input-password {
  border-radius: 20px;
  height: 50px;
  color: black;
  border-color: #CCCCCC;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-password div {
  border-radius: 20px;
  height: 50px;
}

.input-password div input {
  border-radius: 20px;
  height: 50px;
  color: black;
}

.input-password div input:focus {
  box-shadow: none !important;
}

.input-border-blue {
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #1c64f2;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    border-color: #1c64f2;
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow);
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.forgotPassword {
  opacity: 60%;
}

.login-btn-container {
  margin-top: 27px;
}

.btn-login {
  background: linear-gradient(180deg, #0198FE 0%, #0247FF 100.66%);
  border-radius: 20px;
  color: #0247FF;
  font-size: 22px;
  font-weight: 700;
}

.btn-login-2 {
  border-radius: 20px;
  color: white;
  font-size: 22px;
  font-weight: 700;
}

.divider {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider-line {
  width: 54px;
  height: 2px;
  background: #C0C0C0;
}

.divider-or {
  margin-left: 10px;
  margin-right: 10px;
}

.divider span {
  font-size: 14px;
  font-weight: 700;
  color: #C0C0C0;
}